.App {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 8px;
  background-color: lightgrey;
  height: 100%;
  width: 100%;

  overflow: hidden;
}
.title {
  margin-left: 300px;
}
.header {
  width: 100vw;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  background-color: aqua;
}
